# Ignore everything
/*

# OS or Editor folders
._*
.cache
.DS_Store
.idea
.project
.settings
.tmproj
yarn.lock
nbproject
Thumbs.db

# But not these files...
!README.md
!AddressBook

!package.json
!.gitignore
!webpack_config
!babel.config.js
!postcss.config.js
!tsconfig.json
!webpack.config.js