.card {
    display: flex;

    border: var(--border);
    border-radius: 8px;
    padding: 10px;

    &__imagebox {
        flex: none;
        width: 90px;
        height: 90px;
        margin-right: 15px;

        img {
            border-radius: 8px;
            -o-object-fit: cover;
            max-height: 100%;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        margin-right: 10px;
    }
}
