.search {
	display: flex;
	max-width: 580px;
	width: 100%;
	
	background-color: rgba(0,0,0,0.04);
    border: 1px solid rgba(0,0,0,0);
	border-radius: 8px;
	
	&__input {		
		outline: 0;
		border: none;	
		
		flex: 1;
		
		padding: 1rem;
		background-color: transparent;
	}
}