.body {
	font-family: 'Roboto', sans-serif;
	color: rgba(black, 0.54);
}

.page {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 0 auto;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1300px;
}