/* стили для IE10 - IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .catalog__item-title,
    .detail__side-title {
        max-width: 100%;
    }
    .catalog__item--1 {
        order: -1;
    }
    .detail__slider-img,
    .produsts__item-img {
        width: 100%;
    }
    .buybtn {
        height: 32px;
    }
    .filter__checkline {
        user-select: none;
    }
    .radio__pseudo {
        &:after {
            display: block;
        }
    }
    
//END
}



/* Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    
//END
}}

/* стили только для IE9 - IE10 */
@media screen and (min-width:0\0) {

}
/*
    END
*/
