@mixin width-lg {
    @media (max-width: #{$width-lg}) {
        @content;
    }
}
@mixin width-md {
    @media (max-width: #{$width-md}) {
        @content;
    }
}
@mixin width-sm {
    @media (max-width: #{$width-sm}) {
        @content;
    }
}
@mixin width-xs {
    @media (max-width: #{$width-xs}) {
        @content;
    }
}
/*.class {  
  @include width-lg {
  	max-width: 970px;
  }
  @include width-md {
  }
  @include width-sm {
  }
}*/

//pseudo
@mixin pseudo($display: block, $pos: absolute, $content: "") {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin placeholder($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}

//px to rem
$browser-context: 16;
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}

//px to vw
$screen: 1920;
@function vw($pxValue, $vpWidth: $screen) {
    @return #{($pxValue / $vpWidth) * 100}vw;
}
